build/
build-debug/
build-release/
build-sanitize-addr/
build-sanitize-thread/
build-cov/
build-ci-debug/
build-ci-release/
build-cublas/
out/
tmp/
models/ggml-diffusion-model.bin
models/ggml-model.bin
models-mnt

ggml/examples/tortoise/ggml-diffusion-model.bin
ggml/examples/tortoise/ggml-model.bin

compile_commands.json
CMakeSettings.json
.vs/
.vscode/
.clangd

.exrc
.cache
.DS_Store
.stablelm
.gpt-2

src/arm_neon.h
tests/arm_neon.h

zig-out/
zig-cache/

*.dot

*.sw?

__pycache__/

examples/tortoise/ggml-model.bin